*{
    margin: 0;
    padding: 0;
    font-family: "poppins", sans-serif;
    box-sizing: border-box;
}
body{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1000px 1000px;
}
.div1{
    width: 40%;
}
h1{
    color: #2624c2;
    font-size: 80px;
}
h3{
    color: #000;
    font-size: 30px;
}
.div2{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 450px;
    height: 350px;
    background-color: #fff;
    box-shadow: -10px -10px 15px rgb(0,0,0,0.1) , 
    10px 10px 15px rgb(0,0,0,0.1);
    border-radius: 10px;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 0px;
}
input{
    width: 300px;
    height: 40px;
    margin: 10px 0px;
    padding: 0px 10px;
    font-size: 18px;
    border: 1px #ccc solid;
    border-radius: 10px;
}
.log{
    background-color: royalblue;
    color: #fff;
    width: 300px;
    height: 40px;
    margin: 10px 0px;
    padding: 0px 10px;
    font-size: 15px;
    border: 1px #ccc solid;
    border-radius: 10px;
}
hr{
    border: 1px solid #ccc;
    width: 300px;
    margin: 20px 0px;
}
.createnew{
    background-color: rgb(49, 204, 49);
    color: #fff;
    width: 200px;
    height: 40px;
    margin: 10px 0px;
    padding: 0px 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
}
a{
    text-decoration: none;
}
span{
    margin: 20px 0px;
    font-size: 20px;
}
